.container-fluid {
    height: 100vh;
    z-index: 3;
    width: auto;
}

#down-arrow {
    background: transparent;
    bottom: 0;
    font-size: 1.3em;
    left: 0;
    padding: 22px;
    position: absolute;
    right: 0;
    height: 2vh;
    width: 100%;
    z-index: 1;
    color: black;
}

#down-arrow:hover {
    background-color: rgba(163, 163, 163, 0.788);
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.7);
    border-radius: 4px;
    color: #333;
    margin-top: 19vh;
    padding: 1rem;
    max-width: 768px;
    max-height: 366px;
    word-wrap: break-word;
    overflow: hidden;
    /* max-height: 800px; */
    text-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    display: flex;

}

/* .jumbotron h1 {
    font-size: 2vw;
    font-weight: 700;
}

.jumbotron p {
    font-size: 1vw;
} */

.greeting-text-div {
    font-size: 14px;
}

.greeting-text-p {
    font-size: 1vw;
}

#subtitle {
    font-weight: lighter;
}

.button-greeting-div {
    justify-content: center;
    padding-left: 5vw;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.animate__animated.animate__pulse {
    --animate-duration: 2s;
    --animation-timing-function: linear;

    --animation-iteration-count: infinite;
}

/* @media (max-width: 1380px) {
    .greeting-text {
        font-size: 50px;
    }

    .greeting-text-p {
        font-size: 20px;
    }

    #subtitle {
        font-weight: lighter;
    }
} */

@media (max-width: 768px) {
    .greeting-text-div {
        font-size: 12px;
    }

    .button-greeting-div {
        justify-content: space-around;
        margin-top: auto;
    }


    .greeting-text {
        font-size: 30px;
        text-align: center;
    }

    .greeting-text-p {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

    .jumbotron {
        max-width: 380px;
        max-height: 60vh;
        word-wrap: break-word;
        overflow: auto;
    }

    /* .greeting-main {
        display: block;
    } */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .jumbotron {
        max-width: 200px;
        max-height: 60vh;
        word-wrap: break-word;
        overflow: auto;
    }

    .button-greeting-div {
        flex-direction: column;
        padding-bottom: 10px;
    }
}



.wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}