.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.software-skill-inline>p {
    color: #868e96;
    font-size: 10px;
}

@media (max-width: 768px) {
    .dev-icons {
        font-size: 3rem;

    }
}